.Projects .ant-card-body{
    font-weight:600;
    height: 80px;
}
.Projects svg{
    margin-top: -5px;
    margin-right:4px;
}
// CreateProject
.CreateProject .Title{
    font-weight: "bold"; 
    font-size: 24px;
    color:#515A5A  ;
}
.CreateProject .subTitle{
    font-size: 16px;
    color:#424949
}

.CreateProject .input{
    border-radius: 4px;
    border-color: #5499C7;
}
.CreateProject .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 4px;
    border-color: #5499C7;
}

.CreateProject .deleteMember:hover, .CreateProject .deleteTask:hover, .ProjectTeam .deleteMember:hover{
    cursor: pointer;
    color:#E74C3C ;
}

.ant-card-body{
    padding: 15px;
    text-align: left;
    border-radius: 15px;
}

//Kanban
.Kanban{
    padding: 5px;
    width: 97%;
    display: flex;
}

.Kanban .column{
    background: #D7DBDD;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
}

.Kanban .column .title{
    color: #616A6B;
    font-weight: bolder;
    padding-top: 5px;
    margin-bottom: 20px;
}

//Task
.Task{
    height: 90px;
}

.Task .ant-card-body {
    padding: 5px; 
}

.Task .title{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 4px;
    margin-bottom: 5px;
    font-weight: 500;
}

.KanbanSideMenu {
    background-color: #D7DBDD;
}

.KanbanSideMenu.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #D7DBDD !important;
    color: rgba(0, 0, 0, 0.65);
}

.KanbanSideMenu .ant-menu-item:hover {
    background-color: #D7DBDD !important;
}


//ProjectSettings
.ProjectSettings .archiveProject{
    display: flex;
    cursor: pointer;
}
.ProjectSettings .archiveProject:hover{
    color: #E74C3C;
}

.ChatGroupe .form{
    width: 88%;
    position:absolute;
    bottom: 5px;
}

// Cautions
.Cautions .table-row-en-attente {
    background-color: #FCF3CF ;
  animation: clignote 2s linear infinite;
}
@keyframes clignote {  
  50% { background-color: #ffffff; }
}
.Cautions .table-row-warning {
    background-color: #FDEDEC  ;
  animation: clignote2 2s linear infinite;
}
@keyframes clignote2 {  
    50% { background-color: #ffffff; }
  }
.Cautions .table-row-dark {
    background-color: #fbfbfb;
}
.Cautions .ant-table-thead > tr > th{
    background: #F2F3F4;
}

//Caution details
.CautionDetails .ant-select-disabled .ant-select-arrow{
    visibility: hidden;
}

.CautionDetails .btnFermer{
    color: #52BE80;
    // background: #58D68D;
    border-color: #52BE80;
}

.CautionDetails .btnFermer:hover,  .CautionDetails .btnFermer:focus{
    color: #ffffff;
    background: #52BE80;
    border-color: #52BE80;
}

.CautionDetails .btnProlonger{
    color: #F1C40F;
    // background: #F1C40F ;
    border-color: #F1C40F ;
}

.CautionDetails .btnProlonger:hover,  .CautionDetails .btnProlonger:focus{
    color: #ffffff;
    background: #F4D03F;
    border-color: #F4D03F ;

}

.CautionDetails .btnModofier{
    color: #3498DB;
    // background: #F4D03F ;
    border-color: #3498DB ;
}

.CautionDetails .btnModofier:hover,  .CautionDetails .btnModofier:focus{
    color: #ffffff;
    background: #3498DB;
}

.CautionDetails .btnAnnuler{
    color: #909497;
    // background: #F4D03F ;
    border-color: #909497 ;
}

.CautionDetails .btnAnnuler:hover,  .CautionDetails .btnAnnuler:focus{
    color: #ffffff;
    background: #A6ACAF;
    border-color: #A6ACAF ;

}

.CautionDetails .btnSupprimer{
    color: #E74C3C;
    // background: #F4D03F ;
    border-color: #E74C3C ;
}

.CautionDetails .btnSupprimer:hover,  .CautionDetails .btnSupprimer:focus{
    color: #ffffff;
    background: #E74C3C;
    border-color: #E74C3C ;

}

.CautionDetails .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    color: black;
    // background: #EAF2F8;
    cursor: text;
    // border: none;
}

.CautionDetails .ant-form-vertical .ant-form-item-label > label, .ant-col-24.ant-form-item-label > label, .ant-col-xl-24.ant-form-item-label > label{
    font-weight: 500;
}


.CautionDetails .ant-input[disabled],.CautionDetails .ant-picker.ant-picker-disabled, .CautionDetails .ant-picker-input > input[disabled]{
    color: rgb(0 0 0 / 85%);
    // background: #EAF2F8;

    cursor:text;
}

//card body
.ant-card-body {
    padding: 12px !important;
}
